<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/footer.css" />
    <title>Footer</title>
</head>

<body>
    <footer class="footer">
        <div class="contact">
            <h1 class="header">Contact Us</h1>
            <p>123 Fake Street,Vancouver Canada</p>
            <p>123-456-7890</p>
        </div>
        <div class="newsletter">
            <h1 class="header">Newsletter</h1>
            <p>Subscribe and stay up to date with our latest deals and new arrivals.</p>
            <div class="input-form">
                <input class="email-input" type="text" placeholder="Enter email here" />
                <input class="submit-btn" type="submit" value="Submit" />
            </div>
        </div>
    </footer>
</body>

</html>