<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/header.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<header class="navbar">
    <div class="logo">
        <a href="/">
            <img src="/assets/logo.svg" alt="logo" width="100" height="100" />
        </a>
    </div>
    <div class="links">
        <a href="/products" class="link">Products</a>
        <a href="/" class="link">
            <img src="/assets/cart.svg" alt="cart" width="25" height="25" />
        </a>
    </div>
    <div class="mobile">
        <img src="/assets/hamburger.svg" alt="hamburger menu icon" width="25" height="25" />
    </div>
</header>

</html>