<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candy Store</title>
</head>

<!-- <body>
    <% items.map(item=> { %>
        <%= item.item %>
            <%= item.price %>
                <%= item.quantity %>
                    <% }); %>
</body> -->

</html>