<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you!</title>
    <link rel="stylesheet" href="styles/ty.css">
</head>

<body>
    <%- include('../partials/header') %>
        <div class="ty-container">

            <div class="ty">
                <img src="/assets/logo.svg" alt="logo" width="300" height="300" />
                <h1>Thanks for your purchase!</h1>
                <p>A confirmation email will not be send to you because we didn’t ask for your email!</p>
                <p>Also this isn’t a real shop!</p>
            </div>
        </div>
        <%- include('../partials/footer') %>
</body>

</html>